@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #ffffff;
    --color-bg-accent: #f5f5f5;

    --color-text: #171717;
    --color-text-light: #404040;

    --color-primary: #eb2c2c;
    --color-primary-dark: #cc1313;
    --color-primary-text: #ffffff;

    --color-secondary: #11a149;
    --color-secondary-dark: #0c7334;
    --color-secondary-text: #ffffff;

    --color-tertiary: #b6a255;
    --color-tertiary-dark: #978541;
    --color-tertiary-text: #ffffff;

    --color-success: #16a34a;
    --color-success-dark: #15803d;
    --color-success-text: #f0fdf4;

    --color-error: #dc2626;
    --color-error-dark: #b91c1c;
    --color-error-text: #fef2f2;

    --color-warning: #ea580c;
    --color-warning-dark: #c2410c;
    --color-warning-text: #fff7ed;

    --color-info: #2563eb;
    --color-info-dark: #1d4ed8;
    --color-info-text: #eff6ff;

    --color-link: #9333ea;
    --color-link-dark: #7e22ce;
    --color-link-text: #faf5ff;

    --color-border: #d4d4d4;

    --border-radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-bg font-text text-text;
  }
}
